--index-url https://download.pytorch.org/whl/cu128

torch==2.10.0
torchvision==0.25.0
numpy>=1.24.0
matplotlib>=3.7.0
pillow>=9.5.0
scipy>=1.10.0
jupyterlab>=4.0.0
notebook>=7.0.0
ipykernel>=6.0.0
ipywidgets>=8.0.0
pytorch-pretrained-biggan>=0.1.1
